<h1>选课系统#密码重置</h1>
<p>
  <%= @greeting %>, 您的密码重置可以在本邮件中完成！
</p>
请在浏览器的地址栏中输入如下地址来重置您的密码：<br/>
<a href='http://csiie.herokuapp.com/reset?email=<%= @user.email %>&token=<%= @user.token %>'>
  http://csiie.herokuapp.com/reset?email=<%= @user.email %>&token=<%= @user.token %></a>

