<div class="container-fluid">
  <div class="row">

    <div class="col-sm-2">
      <%= render "shared/sidenav" %>
    </div>

    <div class="col-sm-10">

      <div class="panel panel-primary filterable">
        <div class="panel-heading">
          <% if teacher_logged_in? %><h3 class="panel-title">授课列表</h3>
          <% end %>
          <% if student_logged_in? %><h3 class="panel-title">已选课程</h3>
          <% end %>
        </div>

        <div class="panel-body">
          <% if (student_logged_in? and @course_current.count == 0)%>
          <div>
            <h1>课表为空!</h1>
            <h4>还没选课？<%= link_to "点击此处,立即选课!", list_courses_path %></h4>
          </div>
          <% else %>
            <table class="table table-responsive table-condensed table-hover">
            <h3 align="center"><%= @year_term_current %></h3>
            <thead>
            <tr>
              <th>课程编号</th>
              <th>课程名称</th>
              <th>课时/学分</th>
              <th>考试方式</th>
              <th>主讲教师</th>
              <th>周次</th>
              <th>时间</th>
              <% if student_logged_in? %>
              <th>学位课</th>
              <% else %>
              <th>教室</th>
              <% end %>
            </tr>

            <tbody>
            <% @course_current.each do |course| %>
                <tr>
                  <td><%= course.course_code %></td>
                  <td><%= course.name %></td>
                  <td><%= course.credit %></td>
                  <td><%= course.exam_type %></td>
                  <td><%= course.teacher.name %></td>
                  <td><%= course.course_week %></td>
                  <td><%= course.course_time %></td>
                  <% if teacher_logged_in? %> 
                    <td><%= course.class_room %></td>
                  <% elsif student_logged_in? %>
                      <% if @grades.find_by_course_id(course.id).degree? %>
                        <% if is_open_student? %>
                        <td><%= link_to "取消学位课", cancel_degree_course_path(course), class: 'btn btn-xs btn-danger' %></td>
                        <% else %>
                        <td>是</td>
                        <% end %>
                      <% else %>
                        <% if is_open_student? %>
                        <td><%= link_to "设为学位课", set_degree_course_path(course), class: 'btn btn-xs btn-info' %></td>
                        <% else %>
                        <td>否</td>
                        <% end %>
                      <% end %>
                      <% if is_open_student? %>
                      <td><%= link_to "删除", quit_course_path(course), class: 'btn-sm btn-danger' %></td>
                      <% end %>
                  <% end %>
                </tr>
            <% end %>
            </tbody>
          </table>
          <%= will_paginate @course_current %>
        <% end %>
        </div>


        <!-- bug -->
        <%if teacher_logged_in? and @course_next.count != 0%>
        <div class="panel-body">
          <table class="table table-responsive table-condensed table-hover">
            <h3 align="center"><%= @year_term_next %></h3>
            <thead>
            <tr>
              <th>课程编号</th>
              <th>课程名称</th>
              <th>课时/学分</th>
              <th>考试方式</th>
              <th>主讲教师</th>
              <th>周次</th>
              <th>时间</th>
              <th>教室</th>
            </tr>

            <tbody>
            <% @course_next.each do |course| %>
                <tr>
                  <td><%= course.course_code %></td>
                  <td><%= course.name %></td>
                  <td><%= course.credit %></td>
                  <td><%= course.exam_type %></td>
                  <td><%= course.teacher.name %></td>
                  <td><%= course.course_week %></td>
                  <td><%= course.course_time %></td>
                  <td><%= course.class_room %></td>
                  <%if is_open_teacher? %>
                    <td><%= link_to "编辑", edit_course_url(course), class: 'btn btn-xs btn-info' %></td>
                    <% if course.open? %>
                        <td><%= link_to "关闭", close_course_url(course), class: 'btn btn-xs btn-info' %></td>
                    <% else %>
                        <td><%= link_to "开通", open_course_url(course), class: 'btn btn-xs btn-info' %></td>
                    <% end %>
                    <td><%= link_to "删除", course_path(course), :method => "delete", class: 'btn btn-xs btn-danger', :data => {confirm: '确定要删除此课程?'} %></td>
                  <% end %>
                </tr>
            <% end %>
            </tbody>
          </table>
          <%= will_paginate @course_next %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>